.navbar {
    position: sticky;
    width: 100%;
    top: 0;

        .navbar-brand{
            color: white;
            transition: all .2s ease-in-out;
            &:hover{
                color:#8bc8b8
            }
        }

        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          }
          
          .custom-toggler.navbar-toggler {
            border-color: white;
          } 

}

.nav-link{
    color: white;
    transition: all .2s ease-in-out;
    &:hover{
        color:#8bc8b8
    }
}

.nav-item{
    color: white;
}

.navbarlogo{
    animation-name: logorotando;
    animation-duration: 20s;
    transition: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes logorotando{
    0% {transform:scale(1);}
    2% {transform: scale(1.1);}
    5% {transform: scale(1);}
}