$beige: #ecd2af;
$rojo: #c26e66;
$celeste: #8bc8b8;
$violeta: #645a78;


.bg-violeta{
    background-color: $violeta;
}

.bg-beige{
    background-color: $beige;
}

.bg-celeste{
    background-color: $celeste;
}

.bg-rojo{
    background-color: $rojo;
}

.beige{
    color:$beige;
}

.violeta{
    color:$violeta;
}

.rojo{
    color:$rojo;
}

.celeste{
    color:$celeste;
}

.h1{
    &__main{
        margin-top:1%;
    }
}

.navbar {


        a {
            color: $celeste;
        }

        button{
            color: $celeste;
        }

}

.logo{

    &__main{
    padding: 50px;
    width: 90%;
    :hover{
            transform: rotate(3deg);

        }
    }
    
    &__quienessomos{
        width: 75%;
        opacity: 0.10;
        position: relative
        
    }
}


.tituloqs{
    position:absolute;
    color: $violeta;
    transform: translate(0,50px);
}

.textoqs{
    position:absolute;
    margin-top: 150px;
    color:white;
    background-color: $violeta;
  }

.caja{
    padding:2%;
}


/*---------------------ANIMACIONES---------------------------*/

