.bg-violeta {
  background-color: #645a78;
}

.bg-beige {
  background-color: #ecd2af;
}

.bg-celeste {
  background-color: #8bc8b8;
}

.bg-rojo {
  background-color: #c26e66;
}

.beige {
  color: #ecd2af;
}

.violeta {
  color: #645a78;
}

.rojo {
  color: #c26e66;
}

.celeste {
  color: #8bc8b8;
}

.caja {
  padding: 2%;
}

.text-violeta {
  color: #645a78;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #8bc8b8;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 5px #8bc8b8);
          filter: drop-shadow(0px 0px 5px #8bc8b8);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar .navbar-brand {
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navbar .navbar-brand:hover {
  color: #8bc8b8;
}

.navbar .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .custom-toggler.navbar-toggler {
  border-color: white;
}

.nav-link {
  color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-link:hover {
  color: #8bc8b8;
}

.nav-item {
  color: white;
}

.navbarlogo {
  -webkit-animation-name: logorotando;
          animation-name: logorotando;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes logorotando {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  2% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logorotando {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  2% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.maincursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecd2af;
  padding: 2%;
}

.maincursos h1 {
  color: #645a78;
  font-size: 7;
  font-weight: bolder;
  padding: 2%;
}

.clasesparticulares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #645a78;
  padding: 2%;
}

.clasesparticulares h2 {
  color: white;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.clasesparticulares p {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.clasesparticulares li {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 0%;
}

.clasesgrupales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c26e66;
  padding: 2%;
}

.clasesgrupales p {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.clasesgrupales h2 {
  color: white;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.clasesgrupales li {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 0%;
}

.tutorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecd2af;
  padding: 2%;
}

.tutorias h2 {
  color: #645a78;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.tutorias p {
  color: #645a78;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.tutorias li {
  color: #645a78;
  font-size: 5;
  font-weight: normal;
  padding: 0%;
}

.cursosgrabados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c26e66;
  padding: 2%;
}

.cursosgrabados p {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.cursosgrabados h2 {
  color: white;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.mainrecursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecd2af;
  padding: 2%;
}

.mainrecursos h1 {
  color: #645a78;
  font-size: 7;
  font-weight: bolder;
  padding: 2%;
}

.soplometrorecursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #645a78;
  padding: 2%;
}

.soplometrorecursos h2 {
  color: white;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.soplometrorecursos p {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.youtuberecursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c26e66;
  padding: 2%;
}

.youtuberecursos p {
  color: white;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.youtuberecursos h2 {
  color: white;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.instagramrecursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecd2af;
  padding: 2%;
}

.instagramrecursos h2 {
  color: #645a78;
  font-size: 6;
  font-weight: bold;
  padding: 2%;
}

.instagramrecursos p {
  color: #645a78;
  font-size: 5;
  font-weight: normal;
  padding: 1%;
}

.h1 {
  margin-bottom: 0%;
}

.margin-top {
  margin-top: 1%;
}

.logo__main {
  padding: 50px;
  width: 90%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.logo__main:hover {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.card {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (max-width: 560px) {
  .videoyoutube {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */