@import "./partials/variables-y-clases";
@import "./partials/navbar";
@import "./partials/maincursos";


.margin-top{
     margin-top: 1%;
}

.logo__main{
    padding: 50px;
    width: 90%;
    transition: all .2s ease-in-out;

    &:hover{
            transform: rotate(3deg);

        }
    
}

.card{
    transition: all .2s ease-in-out;

    &:hover{
        @extend %cardhover;
    }

}